---
import profilePhotoImage from "@assets/images/profile-photo.png";
import SectionTitle from "@components/ui/SectionTitle.astro";
import { Image } from "astro:assets";
---

<section
  data-testid="about"
  id="about"
  class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:flex-row"
>
  <div
    class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2"
  >
    <SectionTitle>Oferta</SectionTitle>
    <Image src={profilePhotoImage} alt="Zdjęcie profilowe" />
  </div>

  <div class="w-full text-justify text-black dark:text-white lg:w-1/2">
    <p class="mb-4">
      Z tej strony Michalina, ekspertka z branży IT z ponad 9-letnim
      doświadczeniem, rozpoczynając od pracy jako tester manualny, przez testera
      automatyzującego, aż do roli lidera zespołu QA. Moje pasje i umiejętności
      skupiają się wokół zapewnienia jakości oprogramowania oraz doskonalenia
      procesów QA.
    </p>
    <p class="mb-4">
      Jedną z moich największych zalet jest umiejętność komunikacji, co stanowi
      kluczową zdolność w środowisku IT. Dzięki mojemu podejściu do ludzi i
      zdolności budowania relacji, udało mi się wypracować pozycję lidera w
      dziedzinie QA.
    </p>
    <p class="mb-4">
      Teraz pragnę podzielić się moją wiedzą i doświadczeniem poprzez
      konsultacje 1:1, pomoc w budowaniu ścieżek kariery oraz przygotowanie do
      rozmów rekrutacyjnych. Jestem pewna, że mogę wesprzeć Cię w osiągnięciu
      Twoich planów w branży IT.
    </p>
    <p>Zapraszam do kontaktu :)</p>
  </div>
</section>
