---
import profilePhotoImage from "@assets/images/profile-photo.png";
import SectionTitle from "@components/ui/SectionTitle.astro";
import { Image } from "astro:assets";
import { getLangFromUrl, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section
  data-testid="about"
  id="about"
  class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:min-h-dvh lg:flex-row"
>
  <div
    class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2"
  >
    <SectionTitle>{t('home.about.title')}</SectionTitle>
    <Image
      src={profilePhotoImage}
      alt="Zdjęcie profilowe"
      layout="constrained"
      width={380}
      height={460}
      class="profile-photo object-cover"
      loading="lazy"
    />
  </div>

  <div class="w-full text-justify text-black dark:text-white lg:w-1/2">
    <p class="mb-4">{t('home.about.p1')}</p>
    <p class="mb-4">{t('home.about.p2')}</p>
    <p class="mb-4">{t('home.about.p3')}</p>
    <p>{t('home.about.p4')}</p>
  </div>
</section>

<style>
  .profile-photo {
    border-radius: 3rem 0.75rem 3rem 0.75rem;
  }
</style>
