---
import Button from "@components/ui/Button.astro";
import CalendlyButton from "@components/ui/CalendlyButton.astro";
import Social from "@components/ui/Social.astro";
import SectionTitle from "@components/ui/SectionTitle.astro";
import { calendlyURL, emailAddress } from "@config/contact";

const onEmailClick = "window.mixpanel?.track('Contact by mail button clicked');";

const socials = [
  {
    name: "github",
    url: "https://github.com/michalina-graczyk",
    icon: "simple-icons:github",
  },
  {
    name: "linkedin",
    url: "https://www.linkedin.com/in/michalina-graczyk/",
    icon: "simple-icons:linkedin",
  },
  {
    name: "x",
    url: "https://x.com/MichalinQA",
    icon: "simple-icons:x",
  },
];
---

<section
  data-testid="contact"
  id="contact"
  class="flex flex-col flex-wrap items-center justify-center gap-8 text-black dark:text-white lg:mb-0 lg:min-h-dvh"
>
  <SectionTitle>Kontakt</SectionTitle>
  <div class="flex gap-4">
    <Button
      size={"lg"}
      style={"secondary"}
      name="E-mail"
      href={emailAddress}
      onclick={onEmailClick}
    >
      Napisz maila
    </Button>
    <CalendlyButton
      calendlyUrl={calendlyURL}
      trackingEvent="Contact by Calendly button clicked"
    >
      Umów spotkanie
    </CalendlyButton>
  </div>
  <hr class="w-1/2" />
  <Social socials={socials} />
</section>
