---
import Button from "@components/ui/Button.astro";
import Social from "@components/ui/Social.astro";
---

<section
  data-testid="contact"
  id="contact"
  class="flex flex-col flex-wrap items-center justify-center gap-8 text-black dark:text-white lg:mb-0 lg:h-screen"
>
  <Button
    size={"lg"}
    style={"primary"}
    name="Contact"
    href="mailto:michalina@gaczyk.dev"
    onclick="window.mixpanel.track('Contact by mail button clicked');"
  >
    Porozmawiajmy!
  </Button>
  <hr class="w-1/2" />
  <Social
    socials={[
      {
        name: "github",
        url: "https://github.com/michalina-graczyk",
        icon: "simple-icons:github",
      },
      {
        name: "linkedin",
        url: "https://www.linkedin.com/in/michalina-graczyk/",
        icon: "simple-icons:linkedin",
      },
      {
        name: "x",
        url: "https://x.com/MichalinQA",
        icon: "simple-icons:x",
      },
      {
        name: "instagram",
        url: "https://www.instagram.com/michalina_graczyk/",
        icon: "simple-icons:instagram",
      },
    ]}
  />
</section>
