<footer
  data-testid="footer"
  class="p-6 text-center text-sm text-black dark:text-white"
>
  <p>
    Copyright © {new Date().getFullYear()}. All rights reserved. Made by <a
      href="https://github.com/michalina-graczyk"
      target="_blank"
      rel="noopener"
      class="inline-flex min-h-[44px] items-center"
    >
      <span class="text-orange"> Michalina Graczyk</span>
    </a>
  </p>
  <p>
    Theme created by <a
      href="https://github.com/veranikabarel"
      target="_blank"
      rel="noopener"
      class="inline-flex min-h-[44px] items-center"
      ><span class="text-orange"> Veranika Kasparevych</span></a
    >
    & assets designed by
    <a
      href="https://www.freepik.com"
      target="_blank"
      rel="noopener"
      class="inline-flex min-h-[44px] items-center"
    >
      <span class="text-orange">Freepik</span>
    </a>
  </p>
</footer>
