---
import heroImage from "@assets/images/hero.png";
import { Image } from "astro:assets";
import Button from "@components/ui/Button.astro";
---

<section
  data-testid="hero"
  class="flex h-screen flex-col-reverse items-center justify-center text-center lg:flex-row"
>
  <div class="mb-10 flex flex-col items-center lg:mb-0 lg:w-1/2">
    <div>
      <h1
        class="mb-10 font-monospace text-3xl text-black dark:text-white lg:text-5xl"
      >
        Cześć! Jestem <span class="text-orange">Michalina</span>, Engineering
        Manager specjalizująca się w strategii jakości i testowania z AI.
      </h1>
    </div>
    <div class="mb-10">
      <Button
        style={"secondary"}
        size={"lg"}
        class={"flex"}
        name="learn more"
        href="#about"
        onclick="window.mixpanel.track('Learn more button clicked')"
      >
        Dowiedz się więcej
      </Button>
    </div>
  </div>
  <div
    data-testid="hero-img"
    class="mb-10 flex w-1/2 items-center justify-center"
  >
    <Image
      src={heroImage}
      alt="Coding girl"
      layout="constrained"
      width={600}
      priority
      class="max-w-[600px] w-full h-auto"
    />
  </div>
</section>
