---
import ToggleTheme from "@components/ui/ToggleTheme.astro";
import { Astronav, MenuIcon, MenuItems } from "astro-navbar";

const menuitems = [
  {
    title: "O mnie",
    path: "/#about",
  },
  {
    title: "Oferta",
    path: "/#offers",
  },
  {
    title: "Kontakt",
    path: "/#contact",
  },
  {
    title: "CV",
    path: "/cv",
  },
  {
    title: "Blog",
    path: "/blog",
  },
];
---

<header
  data-testid="header"
  class="my-5 flex flex-col items-center justify-between lg:flex-row"
>
  <Astronav>
    <div class="flex w-full items-center justify-between lg:w-auto">
      <div class="block lg:hidden">
        <MenuIcon class="h-4 w-4 text-black dark:text-white" />
      </div>
    </div>
    <MenuItems class="mt-2 hidden w-full lg:mt-0 lg:flex lg:w-auto">
      <ul class="flex flex-col lg:flex-row lg:gap-3">
        {
          menuitems.map((item) => (
            <>
              <li>
                <a
                  href={item.path}
                  class="flex py-2 text-black hover:text-orange dark:text-white dark:hover:text-orange lg:px-3"
                  onclick={`window.mixpanel.track("Menu item clicked", { "Item": "${item.title}" })`}
                >
                  {item.title}
                </a>
              </li>
            </>
          ))
        }
        <li><ToggleTheme /></li>
      </ul>
    </MenuItems>
  </Astronav>
</header>
