---
interface Props {
  size?: "sm" | "md" | "lg";
  block?: boolean;
  style?: "primary" | "secondary";
  class?: string;
  href?: string;
  onclick?: string;
  [x: string]: any;
}

const {
  size = "md",
  style = "primary",
  block,
  class: className,
  href,
  onclick,
  ...rest
} = Astro.props;

const sizes = {
  sm: "px-4 py-1.5",
  md: "px-5 py-2.5",
  lg: "px-6 py-3",
};

const styles = {
  primary: "bg-orange text-white hover:bg-black dark:hover:bg-white dark:hover:text-black border-2 border-transparent",
  secondary: "bg-black text-white hover:bg-orange dark:bg-white dark:text-black dark:hover:bg-orange dark:hover:text-white border-2 border-transparent",
};
---

{
  href ? (
    <a
      href={href}
      onclick={onclick}
      {...rest}
      class:list={[
        "rounded-xl text-center transition focus-visible:ring-2 ring-offset-2 ring-orange",
        block && "w-full",
        sizes[size],
        styles[style],
        className,
      ]}
    >
      <slot />
    </a>
  ) : (
    <button
      onclick={onclick}
      {...rest}
      class:list={[
        "rounded-xl text-center transition focus-visible:ring-2 ring-offset-2 ring-orange",
        block && "w-full",
        sizes[size],
        styles[style],
        className,
      ]}
    >
      <slot />
    </button>
  )
}
