---
import { Icon } from "astro-icon/components";

export interface Props {
  socials?: { name: string; url: string; icon: string }[];
}

const { socials } = Astro.props;
---

{
  socials && (
    <div class="flex flex-col gap-8 lg:flex lg:flex-row lg:gap-20">
      {socials.map((social) => (
        <a
          href={social.url}
          target="_blank"
          rel="noopener"
          aria-label={social.name}
          onclick={`window.mixpanel.track('Social media button clicked', { 'Name': '${social.name}' })`}
        >
          <Icon
            class="h-8 hover:text-orange dark:hover:text-orange md:h-12"
            name={social.icon}
            size={48}
          />
        </a>
      ))}
    </div>
  )
}
